@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 425px) and (max-width: 767px) {
  .container {
    max-width: 600px;
  }
}

.instructor-bg {
  background: url("./assets/images/instructor/instructor.webp");
}
.breadcrumb {
  background: url("./assets/images/instructor/breadcrumb.webp");
}

/* .scroll-bar {
} */
.scroll-bar::-webkit-scrollbar {
  height: 3px;
}
.scroll-bar::-webkit-scrollbar-track {
  border-radius: 50px;
  background: #cecece;
}
.scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #3789ff;
}

.tabs-instructor a.active {
  /* border-bottom: 2px solid white;
	background-color: #fff; */
  color: #3789ff;
  font-weight: bold;
}

.step:after {
  content: "";
  z-index: -1;
  width: calc(50% + 24px);
  @apply h-[1px] bg-black absolute top-5 -right-6;
}

.step:before {
  content: "";
  z-index: -1;
  width: calc(50% + 24px);
  @apply h-[1px] bg-black absolute top-5 -left-6;
}
.step-1::before {
  display: none;
}
.step-4::after {
  display: none;
}

@media screen and (max-width: 424px) {
  .sidebar-overlay {
    @apply bg-black/50 fixed inset-0 z-30 h-screen w-full opacity-0 invisible;
  }
  .sidebar{
    @apply fixed top-0 right-0 bg-white z-40 h-screen;
    transform: translateX(calc(100% + 44px));
  }
  .sidebar-inner{
    @apply overflow-y-auto;
  }
  .sidebar-overlay.show{
    @apply opacity-100 visible;
  }
  .sidebar.show{
    @apply translate-x-0;
  }
}
@media screen and (max-width: 354px){
  #close-filter{
    left: -32px;
  }
  .sidebar{
    width: 280px;
  }
}



/* .course-tab-content{
  display: none;
}

.course-tab-content.current{
  display: block;
} */




.acc-container {
  /* max-width: 700px;
  width: 100%; */
}

.acc {
  margin-bottom: 10px;
}

.acc-head {
  /* background-color: rgb(155, 154, 87); */
  padding: 15px 10px;
  font-size: 22px;
  position: relative;
  cursor: pointer;
 }


 .acc-head::after {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  /* background-color: #fff; */
  /* background-color: #060B25; */
  /* transition: all .3s; */
  font-size: 30px;
  color: black;
  line-height: 18px;
  height: 24px;
 }

 .acc-head::after{
  content: '+';
 }
 .acc-head.active:after{
  content: '-';
  font-size: 46px;
  line-height: 10px;
 }
 /* .acc-head::before {
  right: 30px;
  width: 1px;
  height: 20px;
  margin-top: -10px;
}

.acc-head::after {
  right: 21px;
  width: 20px;
  height: 1px;
  margin-top: -1px;
} */

.acc-head p {
  /* color: #fff; */
  /* color: #060B25; */
  /* font-weight: bold; */
}

.acc-content {
  padding: 15px 10px;
  display: none;
}
  
/* .accordion-head.show img{
  @apply rotate-90;
} */